@import "./variables.scss";
@import "./mixins.scss";

// variables
// $--primary-color: #f00;

form,
input,
textarea {
  display: block;
}

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  font-family: "Manrope", sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  div {
    height: 20px;
    width: 100%;
    background-color: #f10b0b;
  }
  .box1 {
    grid-column: 1 / 4;
    grid-row: 1 / 3;
  }
}
